.Pokedex {
  text-align: center;
}
.Pokedex_Cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Pokedex_Winner {
  color: rgb(142, 255, 142);
}
.Pokedex_Loser {
  color: rgb(255, 137, 137);
}
